@import '../../styles/utils.scss';

.projects {

  .project {
    margin-top: $spacing;
  }

  .bold {
    font-weight: $font-weight-bold;

  }

  .project-link, .github-link {
    color: $color-primary;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  @include mq($from: tablet) {
    h3 {
      text-align: right;
    }
  }

  @media print {
    h3 {
      text-align: right;
    }
  }
}